---
import './Hero.css'
import { Image } from 'astro:assets'
import heroImage from '../../assets/images/IMG-HERO2.webp'
import iconeSeta from '../../assets/images/elements/SVG/SETA-BRANCA-BOTAO.svg'
---

<section class="hero-section" aria-label="Seção de destaque">
  <!-- Imagem de fundo usando Image do Astro -->
  <div class="hero-section__background">
    <Image
      src={heroImage}
      alt="Imagem de fundo do hero"
      class="hero-section__background-image"
      loading="eager"
      decoding="async"
    />
  </div>

  <div class="hero-section__content">
    <h1 class="custom-font hero-section__title">
      FIBRA ÓPTICA <span class="hero-section__title--highlight">SEMPRE ON</span
      >, ONDE SUA OPERAÇÃO PRECISA.
    </h1>
    <p class="hero-section__description">
      A CoreFibra conecta empresas do Centro-Oeste com links de alta
      performance, suporte humano e presença local.
    </p>
    <a href="#contact-form" class="hero-section__cta custom-font">
      <span>SOLICITE UMA PROPOSTA PERSONALIZADA</span>
      <Image
        src={iconeSeta}
        alt="Ícone de seta"
        class="hero-section__cta-icon"
      />
    </a>
  </div>
</section>
