---
import './Rodape.css'
import { Image } from 'astro:assets'
import logoRodape from '../../assets/images/elements/SVG/LOGO-COREFIBRA-FOOTER.svg'
import iconeInstagram from '../../assets/images/elements/SVG/INSTAGRAM.svg'
import iconeLinkedin from '../../assets/images/elements/SVG/LINKEDIN.svg'
---

<footer class="rodape-section">
  <div class="rodape-section__content">
    <div class="rodape-section__left">
      <h2 class="rodape-section__title">
        CONECTIVIDADE<br />É O NOSSO<br />CORE.
      </h2>
    </div>

    <div class="rodape-section__center">
      <nav class="rodape-section__nav">
        <a href="#" class="rodape-section__link">Home</a>
        <a href="#planos" class="rodape-section__link">Serviços</a>
        <a href="#sobre" class="rodape-section__link">Sobre</a>
        <a href="#contact-form" class="rodape-section__link">Contato</a>
      </nav>
    </div>

    <div class="rodape-section__right">
      <div class="rodape-section__contact">
        <div class="rodape-section__contact-item">
          <span class="rodape-section__contact-label"
            >Capitais e regiões metropolitanas</span
          >
          <a href="tel:08003600005" class="rodape-section__contact-phone"
            >0800 360 0005</a
          >
        </div>
        <div class="rodape-section__contact-item">
          <span class="rodape-section__contact-label">Demais regiões</span>
          <a href="tel:6536000055" class="rodape-section__contact-phone"
            >(65) 3600-0055</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="rodape-section__bottom">
    <Image src={logoRodape} alt="Logo CoreFibra" class="rodape-section__logo" />
  </div>
</footer>
