---
import './Obrigado.css'
import { Image } from 'astro:assets'
import logoHeader from '../../assets/images/elements/SVG/LOGO-COREFIBRA-CABECALHO.svg'
import iconeCoreFibra from '../../assets/images/elements/SVG/simbolo-core-fibra.svg'
import setaBranca from '../../assets/images/elements/SVG/SETA-BRANCA-BOTAO.svg'
---

<section class="obrigado-section">
  <div class="obrigado-section__background">
    <div class="obrigado-section__content">
      <div class="obrigado-section__header">
        <Image
          src={logoHeader}
          alt="Logo CoreFibra"
          class="obrigado-section__logo"
        />
      </div>

      <div class="obrigado-section__main">
        <div class="obrigado-section__icon-container">
          <Image
            src={iconeCoreFibra}
            alt="Ícone de sucesso"
            class="obrigado-section__icon"
          />
          <div class="obrigado-section__icon-glow"></div>
        </div>

        <h1 class="obrigado-title custom-font">
          OBRIGADO PELO<br />SEU CONTATO!
        </h1>

        <div class="obrigado-section__divider"></div>

        <p class="obrigado-message">
          Sua mensagem foi enviada com sucesso.<br />
          <span class="obrigado-message__highlight">
            Em breve, um de nossos especialistas entrará em contato com você.
          </span>
        </p>

        <a class="obrigado-button custom-font" href="/">
          VOLTAR À PÁGINA PRINCIPAL
          <Image
            src={setaBranca}
            alt="Ícone de seta"
            class="obrigado-button__arrow"
          />
        </a>
      </div>
    </div>
  </div>
</section>
