---
import './Obrigado.css'
---

<section class="obrigado-section">
  <h1 class="obrigado-title">Obrigado pelo seu contato!</h1>
  <p class="obrigado-message">
    Sua mensagem foi enviada com sucesso. Em breve, um de nossos especialistas
    entrará em contato com você.
  </p>
  <a class="obrigado-button" href="/">Voltar à Página Principal</a>
</section>
